<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>瘋狂美甲師</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>


    </script>
</head>
<body>
    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-right">
                <a class="navbar-text navbar-link">登出</a>
            </div>   
        </div>
    </nav>


    <div class="page-header col-lg-12">
            <div class="col-lg-1 col-lg-offset-1">
                <i class="fa fa-user fa-5x"></i>
            </div>

            <div class="col-lg-3"> Hi 珮珮~</div>

            <ul class="nav navbar-nav">
                <li>
                    <a>
                        <i class="fa fa-hand-peace-o fa-4x"></i>
                        <div>交易紀錄</div>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-hand-peace-o fa-4x"></i>
                        <div>交易紀錄</div>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-hand-peace-o fa-4x"></i>
                        <div>交易紀錄</div>
                    </a>
                </li>
            </ul>

    </div>
    




</body>
</html>
